@page "/AddAdult"
@attribute [Authorize (Policy = "SecurityLevel10")]

@using Assignment1HandIn.Data
@using Microsoft.AspNetCore.Components
@using Models

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>AddAdult</h3>
<EditForm Model="newAdultItem" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        First Name:
        <InputText @bind-Value="newAdultItem.FirstName"/>
    </div>
    <div class="form-group">
        Last Name:
        <InputText @bind-Value="newAdultItem.LastName"/>
    </div>
    <div class="form-group">
        Age:
        <InputNumber @bind-Value="newAdultItem.Age"/>
    </div>
    <div class="form-group">
        Hair Color:
        <InputText @bind-Value="newAdultItem.HairColor"/>
    </div>
    <div class="form-group">
        Eye Color:
        <InputText @bind-Value="newAdultItem.EyeColor"/>
    </div>
    <div class="form-group">
        Weight:
        <InputNumber @bind-Value="newAdultItem.Weight"/>
    </div>
    <div class="form-group">
        Height:
        <InputNumber @bind-Value="newAdultItem.Height"/>
    </div>
    <div class="form-group">
        Sex:
        <InputText @bind-Value="newAdultItem.Sex"/>
    </div>
    <div class="form-group">
        Job Title:
        <InputText @bind-Value="newJobItem.JobTitle"/>
    </div>
    <div class="form-group">
        Salary:
        <InputNumber @bind-Value="newJobItem.Salary"/>
    </div>
    <div class="form-group">
        Weight:
        <InputNumber @bind-Value="newAdultItem.Weight"/>
    </div>
    <div class="form-group">
        Height:
        <InputNumber @bind-Value="newAdultItem.Height"/>
    </div>
    <div class="form-group">
        Sex:
        <InputText @bind-Value="newAdultItem.Sex"/>
    </div>

    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>


@code {
    private Adult newAdultItem = new Adult();
    private Job newJobItem = new Job();


    private void AddNewAdult()
    {
        newAdultItem.JobTitle = newJobItem;
        AdultService.AddAdult(newAdultItem);
        NavigationManager.NavigateTo("/Adults");
    }

}